---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Frontend developer with over 4 years of experiences in Next.js, TypeScript. Outside of my work I like playing the tennis and exploring advancements in AI-powered models."
		/>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<!-- Google tag (gtag.js) -->
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-N5TN1Z68BV"
		></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-N5TN1Z68BV");
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: "Inter-Medium";
		src: url("/fonts/Inter-Medium.ttf");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: "Inter-Thin";
		src: url("/fonts/Inter-Thin.ttf");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: "Inter-Regular";
		src: url("/fonts/Inter-Regular.ttf");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	:root {
		--main-color: #1091ed;
	}
	html {
		font-family: "Inter-Regular";
		background: #171717;
		color: #fff;
		letter-spacing: 0.2px;
	}

	::selection{
		background: white !important;
		color: #000;
	}
</style>
