---
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Frontend developer with over 4 years of experiences in Next.js, TypeScript. Outside of my work I like playing the tennis and exploring advancements in AI-powered models."
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
  :root {
    --main-color: #f6c794;
  }
  * {
    font-family: "Space Grotesk", serif !important;
    font-optical-sizing: auto;
    font-style: normal;
  }
  html {
    font-family: "Inter-Regular";
    background: #171717;
    color: #fff;
    scrollbar-width: thin;
    scrollbar-color: #ffffff10 #171717;
  }

  ::selection {
    background: white !important;
    color: #000;
  }

  .main-content {
    animation: animate 0.5s ease-out;
  }

  @keyframes animate {
    from {
      opacity: 0.2;
    }
    to {
      opacity: 1;
    }
  }
</style>
